name: 'Update schema'
on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  update_schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 24
      - run: npm install
      - shell: bash
        name: "Fetch new schema from steam."
        env:
          STEAM_API_KEY: ${{ secrets.STEAM_API_KEY }}
        run: npm run update "$STEAM_API_KEY"

      - run: npm run prettier
        name: "Prettify static files."

      - run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"

          git add -A
          git commit -m "feat: schema update"
          git push origin master
        name: "Update schema files in the repository."
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npx semantic-release
        name: "Run semantic-release."
